@{

}
<form class="text-center" action="Search/ShowWords" method="post">
    <div class="form-group">
        <label for="urlAddress">Url Address:</label>
        <input type="text" class="form-control" name="urlAddress" id="urlAddress" placeholder="https://www.simbirsoft.com/">
    </div>
    <input type="submit" value="Submit" />
</form>